---
import Layout from "../layouts/Layout.astro";
import ReadingCard from "@/components/ReadingCard.astro";

const current = [
  {
    title: "AI 2041",
    author: "Kai-Fu Lee, Chen Qiufan",
    url: "https://app.thestorygraph.com/books/93346a7d-4937-46c8-a26b-746d2e034f88",
  },
  {
    title: "The Almanack of Naval Ravikant",
    author: "Eric Jorgenson",
    url: "https://app.thestorygraph.com/books/5e56f8de-4a4c-4a97-bcdd-db21664be614",
  },
];

const year_2024 = [
    {
      title: "All My rage",
      author: "Sabaa Tahir",
      url: "https://app.thestorygraph.com/books/886732d9-bf58-40fa-ab6d-c3143bc37317",
      rating: "3.75"
    },
    {
      title: "Starter Villain",
      author: "John Scalzi",
      url: "https://app.thestorygraph.com/books/98affc66-6322-47fc-a006-52534dc2b4e9",
      rating: "2.5"
    },
    {
      title: "The Creative Act",
      author: "Rick Rubin",
      url: "https://app.thestorygraph.com/books/c2731500-a535-44ac-8b38-21c2f502db6f",
      rating: "3.75"
    },
    {
      title: "Words of Radiance",
      author: "Brandon Sanderson",
      url: "https://app.thestorygraph.com/books/8b279801-c903-4909-900f-ef852c87f65c",
      rating: "4.25",
    },
    {
      title: "The Way of Kings",
      author: "Brandon Sanderson",
      url: "https://app.thestorygraph.com/books/10a10b05-04cf-4dac-ba55-04c6f68d10a7",
      rating: "3.5",
    },
    {
      title: "The Bullet Journal Method",
      author: "Ryder Carroll",
      url: "https://app.thestorygraph.com/books/5c3a96d3-77e8-4200-a439-da264dea9e34",
      rating: "4.0",
    },
    {
      title: "Zero to One",
      author: "Peter Thiel",
      url: "https://app.thestorygraph.com/books/cfd784ca-68d0-462b-8b66-978ce3f738ca",
      rating: "2.5",
    },
    {
      title: "Project Hail Mary",
      author: "Andy Weir",
      url: "https://app.thestorygraph.com/books/ac3ea915-993d-4f30-8632-0f91e4ad0704",
      rating: "3.0",
    },
    {
      title: "The Founders",
      author: "Jimmy Soni",
      url: "https://app.thestorygraph.com/books/557689c6-969f-4b05-83bb-b71e0bc2d8e9",
      rating: "3.0",
    },
];
---

<Layout title="ROZE | READING" description="Reading list">
  <h1 class="text-3xl font-bold pb-10">Reading</h1>

  <p class="py-1 italic">
    I read a variety of genres (poetry, self-help, business, high fantasy,
    historical, political, pretty much anything). I use <a
      href="https://www.thestorygraph.com/"
      target="_blank"
      class="underline">The Storygraph</a
    > to keep track of my lists though at some point I plan to code my own
    personal tool to keep track of my books along with an API to utilize here.
  </p>

  <p class="py-1 italic">
    You can see books I&apos;ve previously read <a
      class="underline"
      href="https://app.thestorygraph.com/books-read/emotionldaffdodl?year=0"
      target="_blank">here</a
    > and my <a
      class="underline"
      href="https://app.thestorygraph.com/to-read/emotionldaffdodl"
      target="_blank">to-read list</a
    >.
  </p>

  <section class="py-2">
    <h2 class="text-xl">Currently Reading</h2>
    <hr class="border-t border-t-gray-300" />
    <ul class="py-2 space-y-4">
      {
        current.map((book) => (
          <li>
            <div>
              <ReadingCard
                title={book.title}
                author={book.author}
                url={book.url}
              />
            </div>
          </li>
        ))
      }
    </ul>
  </section>
  <section class="py-2">
    <h2 class="text-xl">2024 ({year_2024.length})</h2>
    <hr class="border-t border-t-gray-300" />
    <ul class="py-2 space-y-4">
      {
        year_2024.map((book) => (
          <li>
            <div>
              <ReadingCard
                title={book.title}
                author={book.author}
                url={book.url}
                rating={book.rating}
              />
            </div>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
